services:
  - type: web
    name: laravel-study-manager
    env: docker
    plan: free
    dockerfilePath: Dockerfile
    autoDeploy: true
    envVars:
      - key: APP_KEY
        value: base64:q+PDogo3vyaiH6UvrECrkNFzeretQ6dYWh09iyvMSjs=
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: mysql
      - key: DB_HOST
        value: mysql.railway.internal
      - key: DB_PORT
        value: 3306
      - key: DB_DATABASE
        value: railway
      - key: DB_USERNAME
        value: root
      - key: DB_PASSWORD
        value: RTfvsbWRMlouwpLdREFjxaxqVZlSkFAJ
